/*Align individual Items,align-self is by default - auto, meaning it takes after the parent align-items
which is stretch by default
-Changing the default align-items to something else, changes others -until you retain you want stretch*/
/*Values same as align items for the flex container*/

body {
  margin: 0;
}
.container {
  border: 6px solid black;
  display: flex;
  height: 400px;
  align-items: flex-end;
}
.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item-1 {
  background-color: #b4bf35;
  align-self: flex-start; /*Stops this from filling container by default - and stays along the start of cross axis*/
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  align-self: flex-end; /*Stops this from filling container by default - and pulls it to the end of cross axis*/
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  align-self: center; /*Stops this from filling container by default - and pulls it to the center of cross axis*/
  background-color: #6b0803;
}
.item-6 {
  background-color: #1c4c56;
}
.item-7 {
  align-self: stretch; /*Stops this from filling container by default - and stretches from top to bottom of the center of cross axis*/
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}
